{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'base/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/bootstrp.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <title>
        {% block title %}
        
        {% endblock %}
    </title>
    
    
</head>

<body>
<header>爱鲜蜂</header>

<div class="hidescroll">
    <div id="content">
        {% block content %}
        
        {% endblock %}
        
    </div>
</div>

{% block footer %}
    <footer style="font-size: 20px">尾部</footer>

{% endblock %}



</body>
<script src="{% static 'base/js/jquery.js' %}"></script>
<script src="{% static 'base/js/bootstrap.js' %}"></script>
<script src="{% static 'base/js/swiper.js' %}"></script>
<script src="{% static 'base/js/base.js' %}"></script>
{# JS#}
{% block extjs %}
{% endblock %}
</html>