{% extends 'base/base.html' %}
{% load static %}

{% block extcss %}
    <link rel="stylesheet" href="{% static 'mine/css/mine.css' %}">
{% endblock %}
{% block extjs %}
    <script src="{% static 'mine/js/mine.js' %}" ></script>
{% endblock %}
{% block title %}
    mine
{% endblock %}


{% block content %}
    <div class="mine">
        <div class="user-wrapper">
            <div class="user-img">
                <img src="{% static 'uploads/axf.jpg' %}" alt="">
            </div>
            <div class="user-content">
                <p><a href="{% url 'axf:login' %}"><span class="glyphicon glyphicon-user"></span>未登录</a></p>
                <p><span class="glyphicon glyphicon-certificate "></span>暂无等级</p>
                <a href="{% url 'axf:registe' %}" class="register">注册</a>
            </div>
        </div>
        <div class="collect">
            <span class="glyphicon glyphicon-link"></span>
            <i>收藏</i>
        </div>
        <div class="other">
            <section class="my">
                <span>我的订单</span>
                <a href="#">查看订单 <b class="glyphicon glyphicon-chevron-right"></b></a>
            </section>
            <section>
                <ul>
                    <li>
                        <a href="#">
                            <dl class="item">
                                <dt>
                                    <span class="glyphicon glyphicon-gift"></span>
                                </dt>
                                <dd>待付款</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <dl class="item">
                                <dt>
                                    <span class="glyphicon glyphicon-leaf"></span>
                                </dt>
                                <dd>待收货</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <dl class="item">
                                <dt>
                                    <span class="glyphicon glyphicon-fire"></span>
                                </dt>
                                <dd>待评价</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <dl class="item">
                                <dt>
                                    <span class="glyphicon glyphicon-magnet"></span>
                                </dt>
                                <dd>退款/售后</dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </section>
            <section>
                <ul>
                    <li>
                        <a href="#">
                            <dl >
                                <dt>
                                    <span class="glyphicon glyphicon-thumbs-down"></span>
                                </dt>
                                <dd>优惠券</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <dl >
                                <dt>
                                    <span class="glyphicon glyphicon-hand-right"></span>
                                </dt>
                                <dd>收货地址</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <dl >
                                <dt>
                                    <span class="glyphicon glyphicon-hand-left"></span>
                                </dt>
                                <dd>客户反馈</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <dl >
                                <dt>
                                    <span class="glyphicon glyphicon-hand-left"></span>
                                </dt>
                                <dd>关于我们</dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="quit">
                <a href="{%  url 'axf:logout' %}">退出</a>
            </section>
        </div>
    </div>
{% endblock %}